#myModal.modal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000;background-color:rgba(0,0,0,.4);-webkit-animation-name:fadeIn;-webkit-animation-duration:.4s;animation-name:fadeIn;animation-duration:.4s}
#myModal .modal-content{bottom:0;background-color:#efeefc;width:100%;-webkit-animation-name:slideIn;-webkit-animation-duration:.4s;animation-name:slideIn;animation-duration:.4s;margin:0 auto;border-radius:20px 20px 0 0}
#myModal .close{color:#fff;float:right;font-size:28px;font-weight:700}
#myModal .close:hover,#myModal.close:focus{color:#000;text-decoration:none;cursor:pointer}
#myModal .modal-content{width:95%;margin-top:12rem;bottom:0}
#myModal .modal-header{padding:2px 16px;border-bottom:none}
#myModal .modal-header .close{margin:0;color:#fff}
#myModal .modal-body{padding:2px 16px;margin-top:10%}
#myModal .modal-footer{padding:0;color:#fff}
@-webkit-keyframes slideIn{
from{bottom:-300px;opacity:0}
to{bottom:0;opacity:1}
}
@keyframes slideIn{
from{bottom:-300px;opacity:0}
to{bottom:0;opacity:1}
}
@-webkit-keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
#staticBackdrop .modal-header{background-color:#db126b;color:#fff;padding:2% 5%}
#staticBackdrop .modal-body li{padding-bottom:3%;font-size:1.5rem}
#staticBackdrop .modal-header .close{color:#fff}
#score .modal-content .modal-header{background-color:#db126b;color:#fff;padding:2% 5%}
#score .modal-body{margin-top:0}
#score .modal-header .close{color:#fff}